@using Sandbox;
@using Sandbox.UI;

@inherits GridPanel;
@namespace Interfacer

<style>
    .grid_bg 
    {
        opacity: 0.04;
        position:absolute;
        pointer-events:all;
        background-repeat: repeat;
        background-position: 0 0;
        background-size: 80px;
        border-radius:3px;
        width:100%;
        height:100%;
    }
</style>

<root class>
    <div class="grid_bg" style="background-image: url( textures/bg_tile.png );" @onclick=@OnBgClicked></div>
    
    @if(InterfacerGame.Instance.ArenaGridManager?.Things == null)
    {
        return;
    }

    @foreach(Thing thing in GetThings())
    {
        var index = GetIndex(thing.GridPos);
        <GridCell style="left: @(thing.GridPos.x * 40); top: @(thing.GridPos.y * 40);" Thing=@thing GridIndex=@index @onmouseover=@(() => HoveredCellIndex = index )) />
    }
</root>

@code
{
    public override int GridWidth => InterfacerGame.ArenaWidth;
    public override int GridHeight => InterfacerGame.ArenaHeight;

    protected override IList<Thing> GetThings()
    {
        return InterfacerGame.Instance.ArenaGridManager?.Things ?? new List<Thing>();
    }

    protected override void OnBgClicked()
    {
        Hud.Instance.GridCellClickedArena(GetGridPos(MousePosition), rightClick: false, shift: Input.Down(InputButton.Run));
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        Hud.Instance.GridCellClickedArena(GetGridPos(MousePosition), rightClick: e.Button == "mouseright", shift: Input.Down(InputButton.Run));
    }
}