@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .cell_tooltip {
        color: white;
        font-size: 16px;
        position: absolute;
        padding: 2px 4px 2px 4px;
        border-radius: 2px;
        border: 1px solid #ffffff33;
        box-shadow: 2px 2px 12px #000000;
        font-family: RobotoMono;
        flex-direction: column;
    }

    .player-0 { background-color: #000000fa; }
    .player-1 { background-color: #3333ffaa; }
    .player-2 { background-color: #ff0000aa; }
    .player-3 { background-color: #009900aa; }
    .player-4 { background-color: #cc00cc99; }
    .player-5 { background-color: #ffff00aa; color: #000000; }
    .player-6 { background-color: #2299ffaa; }
    .player-7 { background-color: #8800bbaa; }
    .player-8 { background-color: #ff8800aa; }

    .equipment_tooltip {
        background-color: #111111fa;
        color: #ccbbffcc;
        border: 1px solid #ee99ff77;
    }

    .cell_tooltip_line 
    {
        font-size: 13px;
        flex-direction: row;
    }

    .cell_tooltip_action 
    {
        color: #555555;
        padding-right: 6px;
    }

    .cell_tooltip_bind 
    {
        color: #777777;
        padding-right: 4px;
    }
</style>

<root class="cell_tooltip @GetEquipmentClass()">
    @(GetTooltip(Thing))

    @if(Thing.ContainingGridType == GridType.Inventory)
    {
        if(Thing.HasFlag(ThingFlags.Equipment))
        {
            <div class="cell_tooltip_line">
                <span class="cell_tooltip_action">Wear</span>
                <span class="cell_tooltip_bind">[RMB]</span>
            </div>
        }
        else
        {
            <div class="cell_tooltip_line">
                <span class="cell_tooltip_action">Equip</span>
                <span class="cell_tooltip_bind">[RMB]</span>
            </div>
        }
    }

    @if (IsNearby)
    {
        <div class="cell_tooltip_line">
            <span class="cell_tooltip_action">Pick Up</span>
            <span class="cell_tooltip_bind">[RMB]</span>

            @if(ShowPickUpKey)
            {
                <span class="cell_tooltip_bind">[E]</span>
            }
            
        </div>
    }

</root>

@code
{
    public Thing Thing { get; set; }
    public bool IsNearby { get; set; }
    public bool ShowPickUpKey { get; set; }

    string GetEquipmentClass() { return Thing != null && Thing.HasFlag(ThingFlags.Equipment) ? "equipment_tooltip" : ""; }

    string GetTooltip(Thing thing)
    {
        var player = RoguemojiGame.Instance.LocalPlayer;

        if(thing is Scroll scroll)
        {
            if (!player.IsScrollTypeIdentified(scroll.ScrollType))
                return $"A scroll of {RoguemojiGame.Instance.GetUnidentifiedScrollName(scroll.ScrollType)}";
        }
        else if(thing is Potion potion)
        {
            if (!player.IsPotionTypeIdentified(potion.PotionType))
                return $"A {RoguemojiGame.Instance.GetUnidentifiedPotionName(potion.PotionType)} potion";
        }

        return thing.Tooltip;
    }
}