Hud {
    .tooltip {
        color: white;
    }

    .tooltip_player-0 {
        background-color: #000000fa;
    }

    .tooltip_player-1 {
        background-color: #3333ffaa;
    }

    .tooltip_player-2 {
        background-color: #ff0000aa;
    }

    .tooltip_player-3 {
        background-color: #009900aa;
    }

    .tooltip_player-4 {
        background-color: #cc00cc99;
    }

    .tooltip_player-5 {
        background-color: #ffff00aa;
        color: #000000;
    }

    .tooltip_player-6 {
        background-color: #2299ffaa;
    }

    .tooltip_player-7 {
        background-color: #8800bbaa;
    }

    .tooltip_player-8 {
        background-color: #ff8800aa;
    }

    .text_player-1 {
        color: #3333ff;
    }

    .text_player-2 {
        color: #ff0000;
    }

    .text_player-3 {
        color: #009900;
    }

    .text_player-4 {
        color: #ff00ff;
    }

    .text_player-5 {
        color: #ffff00;
    }

    .text_player-6 {
        color: #2299ff;
    }

    .text_player-7 {
        color: #8800bb;
    }

    .text_player-8 {
        color: #ff8800;
    }

    cursor: none;

    .icon-player-1 {
        text-stroke-color: #3333ff;
        text-stroke-width: 5px;
        text-shadow: 0px 6px 2px #000000;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-2 {
        text-stroke-color: #ff0000;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-3 {
        text-stroke-color: #009900;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-4 {
        text-stroke-color: #ff00ff;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-5 {
        text-stroke-color: #ffff00;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-6 {
        text-stroke-color: #2299ff;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-7 {
        text-stroke-color: #8800bb;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .icon-player-8 {
        text-stroke-color: #ff8800;
        text-stroke-width: 5px;
        //text-shadow: 0px 0px 8px #000000;
    }

    .solid {
        text-shadow: 0px 2px 3px #000000;
        //text-stroke-color: #00000044;
        //text-stroke-width: 8px;
    }

    .selected {
        border: 1px solid #bbbbff44;
        border-radius: 3px;
        width: 42px;
        height: 42px;
        z-index: 9998;
        position: absolute;
        pointer-events: none;
    }

    .unusable_item {
        color: #ffffff77;
        text-shadow: 0 0 1px #ff0000;
    }

    .equipment_item_highlight {
        text-shadow: 0px 0px 1px #aa55aa88;
    }

    .aiming_cell {
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 9997;
        pointer-events: none;
        border: 1px solid #ffff3311;
        border-radius: 3px;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        padding-bottom: 2px;
    }

    .aiming_pin {
        position: absolute;
        color: white;
        font-size: 29px;
        z-index: 10001;
    }
}
