@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Interfacer

<style>
    .info
    {
        flex-direction:column;
        align-items:center;
        justify-content:center;
        border: 1px solid #ffffff05;
    }

    .icon
    {
        margin: 0 0 5px 0;
        font-size: 45px;
    }

    .name_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff55;
    }

    .thing_selected
    {
        border: 1px solid #bbbbff44;
    }
</style>

<root class="info @GetSelectedClass()">
    @if(InterfacerGame.Instance.LocalPlayer?.SelectedThing != null)
    {
        <div class="icon @GetPlayerClass()"> @InterfacerGame.Instance.LocalPlayer.SelectedThing.DisplayIcon </div>
        <div class="name_label"> @InterfacerGame.Instance.LocalPlayer.SelectedThing.DisplayName </div>
    }
</root>

@code
{
    string GetSelectedClass()
    {
        return InterfacerGame.Instance.LocalPlayer?.SelectedThing != null ? "thing_selected" : "";
    }

    string GetPlayerClass()
    {
        return (InterfacerGame.Instance.LocalPlayer?.SelectedThing?.PlayerNum ?? 0) > 0 ? $"icon-player-{InterfacerGame.Instance.LocalPlayer.SelectedThing.PlayerNum}" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( InterfacerGame.Instance.LocalPlayer?.SelectedThing?.GetInfoDisplayHash() ?? 0 );
    }
}