@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Interfacer

<style>
    .info
    {
        flex-direction:column;
        align-items: center;
    }

    .icon
    {
        margin: 10px 0 5px 0;
        font-size: 35px;
    }

    .name_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff55;
    }
</style>

<root class="info">
    @if(InterfacerGame.Instance.LocalPlayer?.SelectedThing != null)
    {
        <div class="icon"> @InterfacerGame.Instance.LocalPlayer.SelectedThing.DisplayIcon </div>
        <div class="name_label"> @InterfacerGame.Instance.LocalPlayer.SelectedThing.DisplayName </div>
    }
    else
    {
        
    }
</root>

@code
{
    //public override void Tick()
    //{
    //    base.Tick();

    //}

    protected override int BuildHash()
    {
        return HashCode.Combine( InterfacerGame.Instance.LocalPlayer?.SelectedThing?.GetInfoDisplayHash() ?? 0 );
    }
}