@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Interfacer

<style>
    .info
    {
        flex-direction:row;
        justify-content:center;
    }

    .name_label
    {
        color: #ffffff;
        font-size: 30px;
    }
</style>

<root class="info">
    <div class="name_label"> Test </div>
</root>

@code
{
    
}