@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .root
    {
        width: 100%;
        height: 100%;
        flex-direction:column;
        background-color: #050505;
        font-family: RobotoMono;
    }

    .upper_row
    {
        flex-direction:row;
        width: 100%;
        //height: 100%;
        //background-color: #002200;
        margin:20px;
        padding-right: 40px;
    }

    .upper_right_column
    {
        margin-left: 20px;
        flex-grow: 1;
        flex-direction: column;
        //align-items: stretch;
        flex-wrap: nowrap;
    }

    .lower_row
    {
        flex-direction:row;
        padding: 0 35px 35px 35px;
        //background-color: #333300;
        flex-grow: 1;
        //border: 1px solid #ff88ff05;
    }

    .log
    {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        min-height: 10px;
        margin-bottom:5px;
    }

    .chatbox
    {
        
    }

    .character
    {
        //background-color: #440044;
        width: 400px;
        border: 1px solid #ffffff05;
        border-radius: 3px;
    }

    .nearby
    {
        width: 45px;
        margin: 0 20px 0 20px;
        border: 1px solid #ffffff05;
        border-radius: 3px;
    }

    .inventory
    {
        border: 1px solid #ffffff05;
        border-radius: 3px;
        margin: 0 0 0 20px;
    }

    .info
    {
        border-radius: 3px;
        margin-right: 20px;
    }
</style>

<root class="root">
    <div class="upper_row" style="height: @(40 * RoguemojiGame.ArenaHeight)px;">
        <ArenaPanel style="width: @(40 * RoguemojiGame.ArenaWidth)px;" @ref=ArenaPanel></ArenaPanel>

        <div class="upper_right_column">
            <LogPanel class="log" @ref=LogPanel></LogPanel>
            <Chatbox class="chatbox" @ref=Chatbox></Chatbox>
        </div>
     </div>

    <div class="lower_row">
        <CharacterPanel class="character" @ref=CharacterPanel></CharacterPanel>
        <InventoryPanel class="inventory" style="width: @(40 * RoguemojiGame.InventoryWidth + 4)px; height: @(40 * RoguemojiGame.InventoryHeight + 3)px;" @ref=InventoryPanel></InventoryPanel>
        <NearbyPanel class="nearby" @ref=NearbyPanel></NearbyPanel>

        @{
            var selected_thing = RoguemojiGame.Instance.LocalPlayer?.SelectedThing;
        }

        @if (selected_thing != null)
        {
            <InfoPanel class="info" @ref=InfoPanel SelectedThing=@selected_thing></InfoPanel>    
        }
    </div>

    <!-- <DebugDrawing style="z-index:99999;" @ref=DebugDrawing></DebugDrawing> -->
</root>

@code
{
    public ArenaPanel ArenaPanel { get; set; }
    public LogPanel LogPanel { get; set; }
    public Chatbox Chatbox { get; set; }
    public CharacterPanel CharacterPanel { get; set; }
    public NearbyPanel NearbyPanel { get; set; }
    public InventoryPanel InventoryPanel { get; set; }
    public InfoPanel InfoPanel { get; set; }
    public DebugDrawing DebugDrawing { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine(RoguemojiGame.Instance.LocalPlayer?.SelectedThing?.NetworkIdent ?? 0);
    }
}