@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .root {
        width: 100%;
        height: 100%;
        flex-direction:column;
        background-color: #050505;
        font-family: RobotoMono;
        //font-family: NotoEmoji;
    }

    .upper_row {
        flex-direction:row;
        width: 100%;
        //height: 100%;
        //background-color: #002200;
        margin-bottom: 10px;
    }

    .lower_row {
        flex-direction:row;
        margin: 10px 5px 5px 5px;
        //background-color: #333300;
        flex-grow: 1;
        //border: 1px solid #ff88ff05;
    }

    .log {
        //width: 100%;
        max-width: 25%;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 10px;
        margin: 5px 0 0 5px;
    }

    .upper_right_column {
        height: 100%;
        //min-width: 400px;
        margin-right: 5px;
        flex-grow: 1;
        //flex-shrink: 0;
        flex-direction: column;
        //align-items: stretch;
        flex-wrap: nowrap;
        margin: 5px 5px 0 0;
    }

    .chat_panel {
        width: 100%;
        height: 100%;
        //flex-grow: 0;
        //flex-shrink: 1;
        min-height: 10px;
        margin-bottom:5px;
    }

    .character {
        //background-color: #440044;
        width: 400px;
        border: 1px solid #303030;
        border-radius: 3px;
    }

    .nearby {
        width: 45px;
        margin: 0 10px 0 10px;
        border: 1px solid #424242;
        border-radius: 3px;
    }

    .inventory {
        border: 1px solid #303030;
        border-radius: 3px;
        margin: 0 0 0 10px;
    }

    .info {
        border-radius: 3px;
        margin-right: 10px;
    }
</style>

@{
    var player = RoguemojiGame.Instance.LocalPlayer;
}

<root class="root">
    <div class="upper_row" style="height: @(RoguemojiGame.CellSize * RoguemojiGame.ArenaPanelHeight)px;">
        <LogPanel class="log" @ref=LogPanel></LogPanel>

        <ArenaPanel style="width: @(RoguemojiGame.CellSize * RoguemojiGame.ArenaPanelWidth + 4)px; flex-shrink: 0;" @ref=ArenaPanel></ArenaPanel>

        <div class="upper_right_column">
            <ChatPanel class="chat_panel" @ref=ChatPanel></ChatPanel>
            <Chatbox @ref=Chatbox></Chatbox>
        </div>
    </div>

    <div class="lower_row" style="height: @(RoguemojiGame.CellSize * player.InventoryGridManager.GridHeight)px;">
        <CharacterPanel class="character" @ref=CharacterPanel></CharacterPanel>
        <InventoryPanel class="inventory" style="width: @(RoguemojiGame.CellSize * player.InventoryGridManager.GridWidth + 3)px;" @ref=InventoryPanel></InventoryPanel>
        <NearbyPanel class="nearby" @ref=NearbyPanel></NearbyPanel>

        @{
            var selected_thing = RoguemojiGame.Instance.LocalPlayer?.SelectedThing;
        }

        @if (selected_thing != null)
        {
            <InfoPanel class="info" @ref=InfoPanel SelectedThing=@selected_thing></InfoPanel>    
        }
    </div>
</root>

@code
{
    public ArenaPanel ArenaPanel { get; set; }
    public LogPanel LogPanel { get; set; }
    public ChatPanel ChatPanel { get; set; }
    public Chatbox Chatbox { get; set; }
    public CharacterPanel CharacterPanel { get; set; }
    public NearbyPanel NearbyPanel { get; set; }
    public InventoryPanel InventoryPanel { get; set; }
    public InfoPanel InfoPanel { get; set; }

    protected override int BuildHash()
    {
        var inventoryWidthHash = RoguemojiGame.Instance.LocalPlayer.InventoryGridManager.GridWidth;
        return HashCode.Combine(RoguemojiGame.Instance.LocalPlayer?.SelectedThing?.NetworkIdent ?? 0, inventoryWidthHash);
    }
}