@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Interfacer

<style>
    .nearby
    {
        flex-direction:column;
        align-items:center;
        overflow: scroll;
    }

    .nearby_bg
    {
        pointer-events: all;
        width:100%;
        height:100%;
        position:absolute;
    }
</style>

<root class="nearby">
    <div class="nearby_bg"></div> 

    @{
        InterfacerPlayer player = InterfacerGame.Instance.LocalPlayer;
    }

    @if (player?.ContainingGridManager?.GetThingsAtClient(player.GridPos) == null)
    {
        return;
    }

    @if(FlickerFrames < 1)
    {
        return;
    }

    @foreach (var thing in GetThings(player))
    {
        <NearbyCell Thing=@thing />
    }
</root>

@code
{
    public int FlickerFrames { get; set; }
    Vector2 _scrollOffset;

    IEnumerable<Thing> GetThings(InterfacerPlayer player)
    {
        return player.ContainingGridManager.GetThingsAtClient(player.GridPos).WithNone(ThingFlags.Solid).WithAll(ThingFlags.Selectable).OrderByDescending(x => x.GetZPos());
    }

    public override void Tick()
    {
        base.Tick();

        FlickerFrames++;
        if (FlickerFrames == 1 || FlickerFrames == 2)
            ScrollOffset = _scrollOffset;

        if (FlickerFrames == 1)
            StateHasChanged();
    }

    protected override int BuildHash()
    {
        var player = InterfacerGame.Instance.LocalPlayer;
        if (player == null)
            return 0;

        var numThings = GetThings(player).ToList().Count;

        if(numThings < 5)
        {
            Style.Overflow = OverflowMode.Hidden;
            ScrollOffset = Vector2.Zero;
        }
        else
        {
            Style.Overflow = OverflowMode.Scroll;
        }

        return HashCode.Combine(player.GridPos, numThings, player.InventoryGridManager.Things.Count);
    }

    public void FlickerCells()
    {
        _scrollOffset = ScrollOffset;
        FlickerFrames = 0;
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (firstTime)
        {
            //Tooltip = "Items within reach.";
        }

        base.OnAfterTreeRender(firstTime);
    }

    protected override Panel CreateTooltipPanel()
    {
        var panel = Hud.Instance.AddChild<CellTooltip>();
        panel.Text = Tooltip;
        panel.Style.Opacity = 0.5f;
        return panel;
    }
}