@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .wielding_tooltip 
    {
        color: white;
        font-size: 16px;
        position: absolute;
        padding: 2px 4px 2px 4px;
        border-radius: 2px;
        border: 1px solid #ffffff33;
        box-shadow: 2px 2px 12px #000000;
        font-family: RobotoMono;
        flex-direction: column;
        background-color: #000000fa;
    }

    .wielding_title
    {
        padding-bottom: 2px;
    }

    .wielding_line
    {
        flex-direction: row;
    }

    .wielding_action
    {
        color: #333333;
        padding-right: 6px;
    }

    .wielding_bind
    {
        color: #888888;
        //align-items: flex-end;
        //background-color: blue;
        //flex-grow: 1;
    }

    .wielding_nothing_equipped
    {
        color: #333333;
        padding-right: 6px;
        font-style: italic;
    }
</style>

@if(Thing == null)
{
    <!-- <div class="wielding_nothing_equipped">No item equipped.</div> -->
    return;
}

<root class="wielding_tooltip">
    
    <!-- <div class="wielding_title">@Thing.Tooltip</div> -->

    @if(Thing.HasFlag(ThingFlags.Useable))
    {
        <div class="wielding_line">
            <span class="wielding_action" style="color: #666666;">@(Thing.AbilityName)</span>
            <span class="wielding_bind">[Space]</span>
        </div>
    }

    <div class="wielding_line">
        <span class="wielding_action">Throw</span>
        <span class="wielding_bind">[F]</span>
    </div>

    <div class="wielding_line">
        <span class="wielding_action">Drop</span>
        <span class="wielding_bind">[G]</span>
    </div>

    <div class="wielding_line">
        <span class="wielding_action">Unequip</span>
        <span class="wielding_bind">[Q]</span>
    </div>
</root>

@code
{
    public Thing Thing { get; set; }
}